<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="expert">
	<select id="seq" resultType="Integer">
		SELECT expert_seq.NEXTVAL FROM expert
	</select>
	
	<insert id="insertExpert" parameterType="com.pet.app.expert.Expert">
		INSERT INTO expert(expertNum, userId, name, content, created,
			hitCount, groupNum, orderNo, depth)
			VALUES (#{expertNum}, #{userId}, #{name}, #{content}, SYSDATE, 
			0, #{groupNum}, #{orderNo}, #{depth}) 
	</insert>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM expert		
	</select>	
	
	<select id="listExpert" parameterType="map" resultType="com.pet.app.expert.Expert">
		SELECT expertNum, userId, name, content, created,
			hitCount, groupNum, orderNo, depth
		FROM expert
		
		ORDER BY groupNum DESC, orderNo ASC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>