<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.pet.app.member.Member">
		SELECT userIdx, userId, name, pwd, reg_date, clevel, slevel
		FROM member
		WHERE userId = #{userId}
	</select>	
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET last_login = SYSDATE, failure_cnt = 0
		WHERE userId=#{userId}
	</update>
	
	
	<select id="memberSeq" resultType="Long">
		SELECT member_seq.NEXTVAL FROM dual
	</select>
	
	<!-- ★★★★★★★★★★★★★★★★★★★★★★★★ -->	
	<select id="readMember" parameterType="String" resultType="com.pet.app.member.Member">
		SELECT userIdx, userId, name, pwd, zip, addr1, addr2, email, tel, 
			reg_date, point, clevel, slevel
		FROM member m
		WHERE m.userId = #{userId}
	</select>
	
	
	<insert id="insertMember" parameterType="com.pet.app.member.Member">
		INSERT INTO member(userIdx, userId, pwd, name, zip, addr1, addr2, email, tel, reg_date, point, clevel, slevel)
		VALUES (#{userIdx}, #{userId}, #{pwd}, #{name}, #{zip}, #{addr1}, #{addr2}, #{email}, #{tel}, SYSDATE, 0,0,0)
	</insert>
	
	<insert id="insertQualification" parameterType="String">
		INSERT INTO qualification (qualificationNum, qualificationName, userId)
		VALUES (qualification_seq.NEXTVAL, '일반 회원', #{userId})
	</insert>
	
	<update id="updatePoint" parameterType="map">
		UPDATE member SET point= 
		<choose>
			<when test="operation=='minus'">
				point-
			</when>
			<when test="operation=='plus'">
				point+
			</when>
		</choose>
		${point}
		WHERE userIdx=#{userIdx}
	</update>
	
</mapper>