<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.pet.app.member.Member">
		SELECT userIdx, userId, name, pwd, reg_date
		FROM member
		WHERE userId = #{userId}
	</select>	
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET last_login = SYSDATE, failure_cnt = 0
		WHERE userId=#{userId}
	</update>
	
	<select id="memberSeq" resultType="Int">
		SELECT member_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertMember" parameterType="Long">
		INSERT INTO member(userIdx, point) VALUES (#{userIdx}, 1)		
	</insert>
	
	<insert id="insertMember1" parameterType="com.pet.app.member.Member">
	<!-- modify_date : 수정 날짜 -->
		INSERT INTO member1(userIdx, userId, name, pwd, reg_date, modify_date, failure_cnt )
		VALUES (#{userIdx}, #{userId}, #{name}, #{pwd}, SYSDATE, SYSDATE, 0)
	</insert>
	
	<update id="updateMembership" parameterType="map">
		UPDATE member SET point = #{point}
		WHERE userIdx=#{userIdx}
	</update>
	
	
</mapper>