<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">

	<select id="dataCount" resultType="Integer">
		SELECT COUNT(*)
		FROM item
		where enabled='1'
	</select>
	<select id="dataCountDogCat" parameterType="Integer"
		resultType="Integer">
		SELECT COUNT(*)
		FROM item i join itemcategory c on
		i.itemcategoryid=c.itemcategoryid
		where c.parentNum=#{num} and i.enabled='1'

	</select>
	<insert id="insertItem"
		parameterType="com.pet.app.shopping.Item">
		insert into item(itemId, itemCategoryId, shopStoreId,
		itemName,
		itemOriginalPrice, itemSalePrice,
		discountRate,
		registered, saveFileName, des, enabled, manufacturer,content)
		values
		(item_seq.NEXTVAL,#{itemCategoryId},#{shopStoreId},#{itemName},
		#{itemOriginalPrice}, #{itemSalePrice}, #{discountRate}, 
		SYSDATE, #{saveFileName}, #{des}, #{enabled},
		#{manufacturer},#{content})

	</insert>
	
	<delete id="deleteItem" parameterType="long">
	update item set enabled='0', saveFileName='' where itemId=#{num}
	</delete>
	
	<update id="updateItem" parameterType="com.pet.app.shopping.Item">
	update item set itemcategoryId=#{itemCategoryId},shopStoreId=#{shopStoreId},itemName=#{itemName}, itemOriginalPrice=#{itemOriginalPrice},
	itemSalePrice=#{itemSalePrice}, discountRate=#{discountRate}, saveFileName=#{saveFileName}, des=#{des}, content=#{content},
	manufacturer=#{manufacturer}
	where itemId=#{itemId}
	</update> 
	
	<insert id="insertOption" parameterType="map">
		insert into itemoption(optionId, itemid, optionname)
		values(itemoption_seq.NEXTVAL, #{num}, #{name})

	</insert>
	
	<select id="selectOptions" parameterType="long"
		resultType="com.pet.app.shopping.ItemOption">
		select optionId, itemid, optionname from itemoption where itemid=#{num}
	</select>
	
	<select id="selectdetailOptions" parameterType="long"
		resultType="com.pet.app.shopping.DetailOption">
		select detailId, itemoptionId, stock, detailname from detailitemoption where
		itemoptionid=#{num}
	</select>
	
	<select id="findbydetailOptionid" parameterType="long"
		resultType="com.pet.app.shopping.DetailOption">
		select detailId, itemoptionId, stock, detailname, optionname
		 from detailitemoption d join itemoption o on d.itemoptionid=o.optionid
		 where
		detailId=#{num}
	</select>
	
	<insert id="insertdetailOptions" parameterType="map">
	insert into detailitemoption(detailId,itemoptionid,stock,detailname) values(itemdetailoption_seq.NEXTVAL, #{optionNum}, #{stock}, #{name})
	</insert>
	
	<select id="selectAllOptions" parameterType="long" resultType="com.pet.app.shopping.DetailOption">
	select detailId, itemoptionId, stock, detailName, optionname
	from detailitemoption d join itemoption o on d.itemoptionid=o.optionid
	where o.itemid=#{num} order by itemoptionId
	</select>
	
	<select id="AlldetailOptions" resultType="com.pet.app.shopping.DetailOption">
	select detailId, itemoptionId, stock, detailName, optionname, i.itemname, s.shopStoreName 
	from detailitemoption d join itemoption o on d.itemoptionid=o.optionid
    join item i on i.itemId=o.itemid
    join shopstore s on i.shopStoreId=s.shopStoreId 
	where i.enabled='1' and s.enabled='1' 
	order by s.shopStoreName, i.itemId, o.optionid
	</select>
	
	<select id="selectItemCategory"
		resultType="com.pet.app.shopping.ItemCategory">
		select ItemCategoryId,ItemCategoryName,parentNum from
		ItemCategory
		order by parentNum
	</select>

	<select id="findItemCategory" parameterType="long"
		resultType="com.pet.app.shopping.ItemCategory">
		select ItemCategoryId,ItemCategoryName,parentNum from
		ItemCategory
		where ItemCategoryId=${id}
	</select>

	<select id="findItemByItemOption" parameterType="long" resultType="com.pet.app.shopping.Item">
	select i.itemId, itemCategoryId, shopStoreId,
		itemName,
		itemOriginalPrice, itemSalePrice,
		discountRate,
		registered, saveFileName, des, enabled, manufacturer,content
		from item i join itemoption o on i.itemid=o.itemid 
		join detailitemoption d on o.optionId=d.itemoptionId
		where d.detailId=#{num}
	</select>

	<select id="selectShopStore"
		resultType="com.pet.app.shopping.ShopStore">
		select
		shopStoreId,shopStoreName,shopStoreTel,shopStoreAddress1,shopStoreAddress2,enabled
		from shopStore where enabled='1'
	</select>
	
	<select id="findByShopStoreId"
		resultType="com.pet.app.shopping.ShopStore">
		select
		shopStoreId,shopStoreName,shopStoreTel,shopStoreAddress1,shopStoreAddress2,enabled
		from shopStore where shopStoreId=#{num}
	</select>
	<update id="deleteShopStore" parameterType="long">
		update shopStore set enabled='0' where shopStoreId=#{shopStoreId}
	
	</update>

	<select id="selectOnSale" resultType="com.pet.app.shopping.Item">
		select
		itemId,itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,registered,saveFilename,
		des,content,enabled,manufacturer
		from(
		select
		itemId,itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,registered,saveFilename,des,content,enabled,manufacturer
		from item
		where discountRate>0 and enabled='1'
		order by discountRate
		DESC)
		where rowNum &lt;=5
	</select>

	<select id="selectRecentItem"
		resultType="com.pet.app.shopping.Item">
		select
		itemId,itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,registered,saveFilename,
		des,content,enabled,manufacturer
		from(
		select
		itemId,itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,registered,saveFilename,
		des,content,enabled,manufacturer
		from item where enabled='1'
		order by
		registered DESC)
		where rowNum &lt;=8
	</select>

	<select id="isDogOrCat" parameterType="long" resultType="long">
		select
		c.parentNum
		from item i join itemCategory c on
		i.itemcategoryId=c.itemcategoryId
		where enabled='1' and i.itemId=#{id}
	</select>

	<!--관리자 페이지에서 보여줄 상품 리스트 -->
	<select id="selectItemList" parameterType="map"
		resultType="com.pet.app.shopping.Item">
		select
		itemId,itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,registered,saveFilename,
		des,content,enabled,manufacturer
		from item
		where enabled='1'
		ORDER BY
		registered DESC
		OFFSET #{offset} ROWS FETCH FIRST
		#{rows} ROWS ONLY
	</select>

	<!-- 사용자 입장에서 볼 카테고리별 상품리스트 -->
	<select id="selectCategoryItemList" parameterType="Integer"
		resultType="com.pet.app.shopping.Item">
		select
		itemId,i.itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,
		registered,saveFilename,
		des,content,enabled,manufacturer
		from item i
		join itemcategory c on
		i.itemcategoryId=c.itemcategoryId
		where enabled='1' and
		c.parentNum=#{num}
		ORDER BY registered DESC

	</select>

	<select id="readItem" parameterType="long"
		resultType="com.pet.app.shopping.Item">
		select
		itemId,itemCategoryId,shopStoreId,itemName,itemOriginalPrice,
		itemSalePrice,discountRate,registered,saveFilename,
		des,content,enabled,manufacturer
		from item
		where enabled='1' and
		itemId=#{num}
	</select>
	
	<insert id="insertShopStore" parameterType="com.pet.app.shopping.ShopStore">
	insert into shopstore(shopStoreId,shopStoreName,shopStoreTel,zip,shopStoreAddress1,shopStoreAddress2,enabled) 
	values(shopStore_seq.NEXTVAL,#{shopStoreName},#{shopStoreTel},#{zip}, #{shopStoreAddress1}, #{shopStoreAddress2},#{enabled}) 
	</insert>
	
	<update id="updateShopStore" parameterType="com.pet.app.shopping.ShopStore">
	update shopstore set shopStoreName=#{shopStoreName}, shopStoreTel=#{shopStoreTel}, 
	zip=#{zip}, shopStoreAddress1=#{shopStoreAddress1}, shopStoreAddress2=#{shopStoreAddress2} 
	where shopStoreId=#{shopStoreId} 
	</update>
	
	<select id="selectAllShopStore" resultType="com.pet.app.shopping.ShopStore">
	select shopStoreId,shopStoreName,shopStoreTel,zip,shopStoreAddress1,shopStoreAddress2,enabled
	 from shopStore 
	 order by shopStoreId
	</select>
	
	<select id="selectShopStoreOrder" resultType="com.pet.app.shopping.ShopStoreOrder">
	select id, s.detailid, count,s.registered , i.itemname, o.optionname, d.detailname 
		from shopstoreorder s join detailitemoption d on s.detailid=d.detailid
		join itemoption o on d.itemoptionid=o.optionid 
		join item i on o.itemid=i.itemid 
		order by registered desc
	</select>
	
	<insert id="insertShopStoreOrder" parameterType="map">
	insert into shopstoreorder(id, detailid, count, registered) values(shopstoreorder_seq.NEXTVAL, #{detailid}, #{count}, SYSDATE)
	</insert>
	
	<insert id="insertCoupon" parameterType="com.pet.app.shopping.Coupon">
	insert into shopcoupon(couponNum,couponName,deadline,stock,rate) 
	values (shopcoupon_seq.NEXTVAL, #{couponName},#{deadline},#{stock},#{rate})
	</insert>
	
	<select id="selectCouponList" resultType="com.pet.app.shopping.Coupon">
	select couponNum,couponName, to_char(deadline,'YYYY-MM-DD') deadline ,stock,rate 
	from shopcoupon 
	order by deadline desc
	</select>
	
	<insert id="insertReview" parameterType="com.pet.app.shopping.ShopReview">
	insert into review(reviewNum,useridx, itemId, score,content, registered) values(review_seq.NEXTVAL,#{useridx}, #{itemId}, #{score}, #{content}, SYSDATE)
	</insert>
	
	<select id="selectReview" parameterType="long" resultType="com.pet.app.shopping.ShopReview">
	select reviewNum, review.useridx, itemId, score,content, registered, member.name from review join member on review.useridx=member.useridx 
	where itemId=#{itemId}
	</select>
	
	<select id="countReview" parameterType="long" resultType="Integer">
	select count(*)
	from review
	where itemId=#{itemId}
	</select>
	
	<select id="sumReview" parameterType="long" resultType="Integer">
	select sum(score)
	from review
	 where itemId=#{itemId}
	</select>
	
	<delete id="deletereview" parameterType="map">
	delete from review where reviewnum=#{reviewNum} and useridx=#{useridx}
	</delete>
	
	<select id="findByReviewId" parameterType="long" resultType="com.pet.app.shopping.ShopReview">
	select reviewNum,useridx, itemId, score,content, registered 
	from review
	where reviewNum=#{reviewNum}
	</select>
	
	<update id="updateReview" parameterType="com.pet.app.shopping.ShopReview">
		update review set score=#{score}, content=#{content}
		where reviewNum=#{reviewNum}
	</update>
</mapper>