<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<select id="getOrderSeq" resultType="Long">
		SELECT shopOrder_seq.NEXTVAL FROM dual
	</select>

	<insert id="insertOrder" parameterType="com.pet.app.shopping.Order">
		INSERT INTO shopOrder(orderIdx, userIdx, state, order_date, 
			totalItemPrice, deliveryPrice, couponDiscount, pointDiscount,
			totalDiscount, totalPayment, orderMemo)
		VALUES(#{orderIdx}, #{userIdx}, 1, SYSDATE, #{totalItemPrice}, 
			#{deliveryPrice}, #{couponDiscount}, #{pointDiscount}, 
			#{totalDiscount}, #{totalPayment}, #{orderMemo, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertDeliveryInfo" parameterType="com.pet.app.shopping.Order">
		INSERT INTO deliveryInfo(orderIdx, diName, diZip, diAddr1, diAddr2, diTel)
		VALUES(#{orderIdx}, #{diName}, #{diZip}, #{diAddr1}, #{diAddr2}, #{diTel})
	</insert>
	
	<insert id="insertPayInfo" parameterType="com.pet.app.shopping.Order">
		INSERT INTO payInfo(payIdx, orderIdx, pay_date)
		VALUES(payInfo_seq.NEXTVAL, #{orderIdx}, SYSDATE)
	</insert>
	
	<update id="insertSod" parameterType="com.pet.app.shopping.Order">
		
		<foreach collection="itemList" item="item" separator=" " open="INSERT ALL" close="SELECT * FROM dual">
			INTO shopOrderDetail(sodIdx, orderIdx, totalPrice, detailId, qty)
			VALUES (FN_GET_SEQ('sod_seq'), #{orderIdx}, #{item.totalPrice}, #{item.detailId}, #{item.count})
		</foreach>
        
	</update>
	
	<update id="itemStockDown" parameterType="com.pet.app.shopping.OrderDetail">
		UPDATE detailItemOption SET stock=stock-#{count}
		WHERE detailId=#{detailId}
	</update>
	
	
	<select id="findOrderDetailByDetailId" parameterType="Long" resultType="com.pet.app.shopping.OrderDetail">
		SELECT 
		    i.itemId, itemName, saveFilename, itemSalePrice, discountRate, 
		    optionId, optionName, detailId, detailName
		FROM item i 
		JOIN itemOption io ON i.itemId=io.itemId
		JOIN detailItemoption do ON io.optionId=do.itemoptionId
		WHERE detailId = #{detailId}
	</select>
	<!-- 찜, 장바구니 -->
	
	<insert id="insertCart" parameterType="com.pet.app.shopping.Cart">
		INSERT INTO cart(cartIdx, userIdx, cart_date, count, detailId)
		VALUES (cart_seq.NEXTVAL, #{userIdx}, SYSDATE, #{count}, #{detailId})
	</insert>
	
	<insert id="insertWish" parameterType="com.pet.app.shopping.Wish">
		INSERT INTO wish(wishIdx, userIdx, wish_date, detailId)
		VALUES (wish_seq.NEXTVAL, #{userIdx}, SYSDATE, #{detailId})
	</insert>
	
	<select id="wishListOrderDetail" parameterType="Long" resultType="com.pet.app.shopping.OrderDetail">
		SELECT
		    i.itemId, itemName, saveFilename, itemSalePrice, discountRate, 
		    optionId, optionName, detailId, detailName
		FROM item i 
		JOIN itemOption io ON i.itemId=io.itemId
		JOIN detailItemoption do ON io.optionId=do.itemoptionId
		JOIN cart c ON c.detailId=do.detailId
		WHERE userIdx=#{userIdx}
	</select>
	
	<select id="cartListOrderDetail" parameterType="map" resultType="com.pet.app.shopping.OrderDetail">
		SELECT
		    cartIdx, i.itemId, itemName, saveFilename, itemSalePrice, discountRate, 
		    optionName, detailName, count, do.detailId
		FROM item i 
		JOIN itemOption io ON i.itemId=io.itemId
		JOIN detailItemoption do ON io.optionId=do.itemoptionId
		JOIN cart c ON c.detailId=do.detailId
		WHERE 
		<if test="userIdx != null">
		userIdx=#{userIdx}
		</if>
		<if test="cartIdxs != null">
		cartIdx IN 
			<foreach collection="cartIdxs" item="cartIdx" open="(" close=")" separator=",">
			${cartIdx}
			</foreach>
		</if>
		ORDER BY cart_date DESC
	</select>
	
	<delete id="deleteCart" parameterType="map">
		DELETE FROM cart
		WHERE userIdx=#{userIdx} AND cartIdx IN (${cartIdxs})
	</delete>
	
	<delete id="deleteCart2" parameterType="com.pet.app.shopping.Order">
		DELETE FROM cart
		WHERE userIdx=#{userIdx} AND cartIdx IN 
		<foreach collection="itemList" item="item" open="(" close=")" separator=",">
			#{item.cartIdx}
		</foreach>
	</delete>
	
	<select id="readCart" parameterType="com.pet.app.shopping.Cart" resultType="com.pet.app.shopping.Cart">
		SELECT cartIdx, userIdx, cart_date, detailId, count
		FROM cart
		WHERE userIdx = #{userIdx} AND detailId = #{detailId}
	</select>
	
	<update id="updateCart" parameterType="com.pet.app.shopping.Cart">
		UPDATE cart 
		SET cart_date=SYSDATE, count=count+#{count}
		WHERE userIdx=#{userIdx} AND detailId=#{detailId}
	</update>
	
	
	
	
</mapper>