@charset "UTF-8";
.MyPageMenu{
	width: 200px;
	float: left;
}
.MyPageMenu-list ul li{
	list-style: none;
}
.MyPageMenu-list ul li a{
	color: black;
	text-decoration: none;
}
.myPage-body{
	width:  1000px;
	min-height: 800px; 
	float: left;
}
.myPage-insideBody{
	width: 100%;
	height: 100%;
	padding-left: 300px;
	padding-top: 30px;
}
#calendar{
	width: 70%;
}
.setUserProfile-photo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #eee;
	text-align: center;
	line-height: 200px;
}
.setUserProfile-file{
	display: none;
}